@charset "utf-8";
@import url("");

body {
   font-family: Arial, sans-serif;
   font-size: 15pt;
   background: rgba(70, 142, 236);
}

div {
   text-align: center;
   padding: 9px;
}

header {
   text-align: center;
   color: white;
}

section {
   background: white;
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
   border-radius: 10px;
   width: 500px;
   margin: auto;
   padding: 15px;
}

footer {
   font-style: italic;
   text-align: center;
   color: white;
}
